<div class="font-sans bg-green-100 max-w-9xl max-md:max-w-md mx-auto">
    <div class="grid md:grid-cols-2 items-center md:gap-8 gap-6">
      <div class="max-md:order-1 ml-11 max-md:text-center">
        <p class="text-sm font-bold text-green-600 mb-4"><span class="rotate-90 inline-block mr-2">|</span> ALL IN ONE MEETING SCHEDULER</p>
        <h2 class="text-gray-800 md:text-5xl text-3xl font-extrabold mb-4 md:!leading-[55px]">Schedule meetings effortlessly</h2>
        <p class="mt-4 text-base text-gray-600 leading-relaxed">Embark on a gastronomic journey with our curated dishes, delivered promptly to your doorstep. Elevate your dining experience today.</p>
        <div class="mt-8 space-x-4">
          <button type='button'
            class="bg-green-600 hover:bg-transparent hover:text-green-600 border-2 border-green-600 transition-all text-white font-semibold tracking-wide text-sm rounded-full px-6 py-2.5">Get started</button>
        </div>
        <hr class="mt-8 border-gray-300" />
      </div>
      <div class="lg:h-[650px] md:h-[550px] flex items-center relative max-md:before:hidden before:absolute before:bg-green-200 before:h-full before:w-3/4 before:right-0 before:z-0">
        <img src="https://readymadeui.com/photo.webp" class="rounded-md lg:w-3/5 md:w-11/12 z-50 relative" alt="Dining Experience" />
      </div>
    </div>
  </div>