<header class="bg-transparent text-slate-700 container relative mx-auto flex flex-col overflow-hidden px-4 py-4 lg:flex-row lg:items-center">
    <a href="" class="flex items-center whitespace-nowrap text-2xl font-black">
      <span class="mr-2 flex gap-2 w-10">
        <img src="../../../../assets/recyclageLogo.jpg"  alt="" />
        <P class="mt-1">RecycleHub</P>
      </span>
    </a>
    <input type="checkbox" class="peer hidden" id="navbar-open" />
    <label class="absolute top-5 right-5 cursor-pointer lg:hidden" for="navbar-open">
      <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
    <nav aria-label="Header Navigation" class="cursor-pointer peer-checked:pt-8 peer-checked:max-h-60 flex max-h-0 w-full flex-col items-center overflow-hidden transition-all lg:ml-24 lg:max-h-full lg:flex-row">
      <ul class="flex w-full flex-col items-center space-y-2 lg:flex-row lg:justify-center lg:space-y-0">
        <li class="lg:mr-12"><a class="rounded text-gray-700  transition focus:outline-none focus:ring-green-700 focus:ring-offset-2 hover:text-[#40af7b] block font-semibold text-[17px]" routerLink="/home">Home</a></li>
        <li *ngIf="isCollecteur||isParticulier" class="lg:mr-12"><a class="rounded text-gray-700  transition focus:outline-none focus:ring-green-700 focus:ring-offset-2 hover:text-[#40af7b] block font-semibold text-[17px]" routerLink="/profile">Profile</a></li>
        <li *ngIf="isParticulier" class="lg:mr-12"><a class="rounded text-gray-700  transition focus:outline-none focus:ring-green-700 focus:ring-offset-2 hover:text-[#40af7b] block font-semibold text-[17px]" routerLink="/particulier/request_collect">Collects</a></li>
        <li *ngIf="isCollecteur" class="lg:mr-12"><a class="rounded text-gray-700  transition focus:outline-none focus:ring-green-700 focus:ring-offset-2 hover:text-[#40af7b] block font-semibold text-[17px]" routerLink="/collecteur/process_collect">Collects Request</a></li>
        <li *ngIf="isParticulier" class="lg:mr-12"><a class="rounded text-gray-700  transition focus:outline-none focus:ring-green-700 focus:ring-offset-2 hover:text-[#40af7b] block font-semibold text-[17px]" routerLink="/point_collect">Points</a></li>

      </ul>
      <hr class="mt-4 w-full lg:hidden" />
      <div class="my-4 flex items-center space-x-6 space-y-2 lg:my-0 lg:ml-auto lg:space-x-8 lg:space-y-0">
        
        <div class='flex max-lg:ml-auto space-x-4'>
            <button (click)="logout()"
              class="bg-green-600 hover:bg-transparent hover:text-green-600 border-2 border-green-600 transition-all text-white font-semibold tracking-wide text-sm rounded-full px-6 py-2.5">Logout</button>
        </div>
      </div>
    </nav>
  </header>
  