<footer class="bg-gradient-to-r from-green-900 via-green-700 to-green-900 py-10 px-10 font-sans tracking-wide">
    <div class="max-w-screen-xl mx-auto">
      <div class="flex flex-wrap items-center md:justify-between max-md:flex-col gap-6">
        <a href="" class="flex items-center whitespace-nowrap text-2xl font-black">
            <span class="mr-2 flex gap-2 w-10">
              <img src="../../../../assets/recyclageLogo-removebg-preview.png"  alt="" />
              <P class="mt-1">RecycleHub</P>
            </span>
          </a>

        <ul class="flex items-center justify-center flex-wrap gap-y-2 md:justify-end space-x-6">
          <li><a routerLink="/home" class="text-gray-300 hover:underline text-base">Home</a></li>
          <li><a routerLink="/Profile" class="text-gray-300 hover:underline text-base">Profile</a></li>
          <li><a routerLink="/" class="text-gray-300 hover:underline text-base">Collects</a></li>
          <li><a routerLink="/" class="text-gray-300 hover:underline text-base">Points</a></li>
        </ul>
      </div>

      <hr class="my-6 border-gray-500" />

      <p class='text-center text-gray-300 text-base'>© RecycleHub. All rights reserved.</p>
    </div>
  </footer>